@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display:block;
  clear: both;
}

html {
  min-width: 300px;
  margin: 0 auto;
}

body {
  margin: 0;
}

html, body {
  padding: 0;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
}

.header, .content-wrapper, .container, .content, .footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  max-width: 1920px;
}

.container {
  flex-wrap: nowrap;
}

.content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  order: 0;
}

p {
  margin: 0;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html {
  min-width: 800px;
  max-width: 1920px;
  overflow-x: hidden;
}

input,
button,
textarea {
  border: inherit;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  padding: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  margin-top: 32px;
  max-width: 1550px;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.logo {
  position: relative;
  width: 371px;
  height: 128px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  background: #ffbe48;
  height: 60px;
  position: relative;

  align-items: center;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 10px 0 0 0;
  margin-top: 20px;
}

.catalog_text2 {
  margin-top: inherit;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  margin-right: 25px;
  margin-bottom: 5px;
}
.catalog_text2:hover{
  color: #000000;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.dropbtn {
  background: #ffbe48;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
  letter-spacing: 1px;
  
}
.dropbtn a :hover {
  background: #dde8f0;
}

.dropdown {
  display: flex;
  position: relative;
  cursor: pointer;
}
.drop_icon {
  margin-left: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #ffffff;
  min-width: 160px;
  width: 371px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin-top: 40px;
  border-radius: 0 0 20px 20px;
}

.dropdown_item {
	width: 100%;
	max-width: 345px;
  color: #5c6d7d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 6px;
  height: 50px;
  font-size: 18px;
  padding: 0px 9px 6px 9px;
}

.dropdown_title {
	display: flex;
	align-items: center;
}

.dropdown_icon {
	margin-right: 16px;
  
}

.dropdown_item:hover {
 

  color: #33485D;
  font-size: 18px;

  background: #dde8f0;
  border-radius: 15px;
}
.dropdown_icon-Path2{
  opacity: 0.5;
}
.dropdown_item:hover .dropdown_icon-Path2{
  opacity: 1;

}
.dropdown-content.active {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.basketbtn {
  background: #ffffff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
}

.basketbtn.active .basket_user_link {
  background: #47b39c;
}

.basketbtn.active a {
  background: #fff;
}

.basketbtn.active svg {
  fill: #fff;
}

.basketbtn:hover .basket_user_link {
  background: #47b39c;
}

.basketbtn:hover a {
	background: #fff;
}

.basketbtn:hover svg {
	fill: #fff;
}

/* Элемент меняет цвет во время нажатия на доли секунд.  */

.basket_user_link img {
  display: block;
  width: 30px;
  height: 30px;
}

.basket_user_link:last-child {
  border-top-right-radius: 18px;
  border-right:2px solid #ffcb6d; ;
}

.basket_dropdown {
  position: relative;
  display: inline-block;
}

.basket-content {
  position: absolute;
  display: none;
  background: #ffffff;
  box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.3);
  border-radius: 20px;
  right: 0;
  z-index: 10;
  overflow: visible;
  margin-top: 1vw;
  width: 358px;
  height: 280px;
}

.basket-content::after {
  content: '';
  position: absolute;
  top: -19px;
  right: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent #fff;
}

.basket-content.active {
  display: flex;
  align-items: center;
}

.basket_item {
  font-family: 'Roboto' ,sans-serif;
  color: #5c6d7d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 6px;
  height: 215px;
  margin-left: 35px;
  font-size: 18px;
  line-height: 21px;
}
.basket_item p {
  color: #33485d;
  font-weight: bold;
  margin-left: 5px;
}
.basket_edit {
  max-width: 185px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(92, 109, 125, 0.5);
  cursor: pointer;
  color: #33485d;
  font-weight: bold;
  margin-left: 5px;
  font-weight: bold;
  
}

.basket_edit:hover {
  color: #47b39c;
  border-color: #47b39c;
}

.basket_product {
  display: flex;
  flex-direction: row;
}
.busket_product_btn {
  display: flex;
  justify-content: center;
  width: 277px;
  height: 60px;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  background: #47b39c;
  border-radius: 20px 0 20px 0;
  padding-top: 15px;
}


.busket_product_btn:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px #08adf3, 0 0 20px #08adf3;

}
.basket_item img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
.show2 {
  display: block;
}

.menu {
  display: flex;
  align-items: center;
}

.bottom_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
}

.bottom_menu li {
  display: inline;
  color: rgba(51, 72, 93, 0.664);
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
 
}

.bottom_menu img {
  width: 9.05px;
  height: 5.09px;
  margin-left: 14.22px;
  vertical-align: middle;
}

.bottom_menu li a:hover {
  border-bottom: 2px solid#33485D;
  padding-bottom: 3px;
  color: #33485d;
}

.bottom_menu__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_menu__row {
  width: 80%;
  margin: 0;
}

.number {
  font-weight: bold;
  font-size: 14px;
  color: #33485d;
  line-height: 17px;
  text-transform: uppercase;
}
.circle {
  display: inline-flex;
  background: #dde8f0;
  border-radius: 5px;
  height: 6px;
  width: 6px;
  margin:0 10px 0 10px;
}

.search {
  position: relative;
  display: flex;
}

.searchTerm {
  width: 784px;
  background: #dde8f0;
  
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  padding-left: 19px;
}

.searchTerm:focus {
  color: #1b595e;
}

.searchButton {
  width: 40px;
  height: 50px;
  background: #dde8f0;
  text-align: center;
  color: rgb(22, 32, 90);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 15px;
  background-image: url("../img/seach.svg");
  background-repeat: no-repeat;
  background-position: bottom 50% right 12.19px;
}

.basket_user_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basket_user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lang_option {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  width: 18px;

  height: 17px;
  letter-spacing: 1px;
  color: #33485d;
}

.basket_user img {
  width: 20px;
  height: 20px;
  position: static;
}
.basket_user_link svg{
  width: 30px;
  height: 30px;
}
.basket_user_product {
  display: flex;
  justify-content: space-between;
  width: 266px;
  height: 60px;
}
.basket_user_link {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 90px;
  height: 60px;
  border: 2px solid #ffcb6d;
  border-right:none;
  box-sizing: border-box;
}
.basket_user_link a {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  margin-left: 50px;
  margin-top: -30px;
  width: 28px;
  height: 20px;
  background: #ffbe48;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* First slider top_content_one*/
.top_content_one {
  display: flex;
  flex-direction: column;
  max-width: 1840px;
  width: 100%;
  height: 889px;
  margin-top: 24px;
  background: linear-gradient(99.18deg, #ff7800 3.07%, #fe374a 100.56%);
  border-radius: 22px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.top_content_circle_transparent_one {
  position: absolute;
  bottom: -99px;
  left: -86px;
  width: 244px;
  height: 244px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.042) 0%, rgba(216, 248, 255, 0.2) 100%);
  backdrop-filter: blur(120px);
  /* Note: backdrop-filter has minimal browser support */
  
  transform: matrix(0, 1, 1, 0, 0, 0);
  border-radius: 50%;
}



.top_content_circle_transparent_two{
  position: absolute;
  width: 807px;
  height: 805px;

  left: 1108px;
  top: 164px;
background: radial-gradient(54.91% 54.29% at 47.11% 34.48%, #FF6D43 0%, rgba(255, 0, 0, 0.05) 100%);
border-radius: 50%;
transform: matrix(0, 1, 1, 0, 0, 0);
}
.top_content_circle_transparent_three{
  position: absolute;
  width: 775px;
  height: 775px;
  left: 1463px;
  top: 135px;
  border-radius: 50%;
  background: radial-gradient(70% 70% at 50% 50%, rgba(254, 52, 73, 0.2) 0%, rgba(255, 55, 74, 0.2) 90%);
  backdrop-filter: blur(1120px);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.top_content_categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 82px 100px 0 150px;
}
.top_content_categories_one {
  position: relative;
  white-space: nowrap;
  width: 684px;

  font-weight: 300;
  font-size: 64px;
  color: #ffffff;
  margin: 0;
}
.top_content_categories_two a{
  color: rgb(255, 255, 255);
}
.top_content_categories_two {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  
  padding: 0;

  font-family: 'Roboto',sans-serif;

}
.box {
  width: 188px;
  height: 60px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 70px;
}
.box:hover {
  box-shadow: 0 0 10px 0 #ffe600 inset, 0 0 10px 4px #ffe815;
}


.pop_product_feedback {
  display: flex;

  height: initial;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;

}
.pop_product_wave{
  position: relative;
 

}
.pop_product_card{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
align-items: center;


width: 1920px;
height: initial;
background-image: none;

margin-bottom: 70px;
}
.pop_product_card-item{
  display: flex;
  height: 140px;
 width: 333px;
 margin-right: 20px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  font-size: 18px;
line-height: 24px;
justify-content:space-evenly;
flex-direction: column;
padding-left: 32px;
color: #6A677B;


  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
 
}
.pop_product_card-item:hover{
  color: #FFFFFF;
  background: #FF485A;
box-shadow: 0px 10px 40px rgba(255, 72, 90, 0.4);
border-radius: 10px;
}
.pop_product_card-item:hover svg{
  stroke: #ffffff;
}
.pop_product_card-item svg{
  margin-top: 3px;
}
.pop_product_card_text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
height: 24px;
}

 .pop_product_card-item{
  z-index: 5;
}
.pop_product_card-img{
  position: absolute;
  bottom: -57px;
  z-index: 1;
}
.fluid-linear{
  position: absolute;
  margin-top: -20vw;
  bottom: -65px;
  right: -134px;

  z-index: 2;
  margin-top: -43vw;
}
.vector{
  position: absolute;
  top: 70px;
  right: -25px;
  z-index: 3;
}
.v_some_text{
  margin-bottom: 50px;
}
.pop_product_btn{
  margin-bottom: 140px;
  z-index: 4;
}
.pop_product_btn:hover{
  box-shadow: 0 0 10px 0 #ff3e51 inset, 0 0 10px 4px #ff172e9c;
}

.v_content{
  position: relative;
  z-index: 5;
}


.pop_product_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 60px;
  background: linear-gradient(0deg, #ff485a, #ff485a);
  border-radius: 70px;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;

  text-transform: uppercase;
}
.down-arrow {
  margin-left: 24px;
}

.many_linear {
  height: initial;
  width: initial;
  position: relative;
  margin-top: 106px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;
  text-align: center;
  color: #6a677b;
}

.cards_container {
 display: flex;
position: relative;
width: 1840px;
height: 736px;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card a{
  position: absolute;
  white-space: nowrap;
  padding: 14px 30px;
  font-size: 16px;
line-height: 20px;
  border: 2px solid white;
  background-color: #00000000;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all .5s ease;
}

.card a:hover {
  background-color: #2e6353d2;
  transition: all 0.5s ease;
 
  font-size: 20px;
}
.inside_container_two-block{
  display: flex;
  flex-direction: row;
  margin-bottom:  36px ;
}
.inside_container_one-block{
  display: flex;
  flex-direction: column;
  margin-bottom:  36px ;
  margin-right: 36px;
}
.cards_container_one-block{
  display: flex;

}
.card1 {
  position: relative;
  width: 435px;
  height: 350px;
  margin-bottom: 36px;
}

.card2 {
  position: relative;
  width: 435px;
  height: 350px;
}

.card3 {
  position: relative;
  width: 445px;
  height: 736px;
  margin-right: 36px;
}

.card4 {
  position: relative;
  width: 435px;
  height: 350px;
  margin-right: 20px;
}

.card5 {
  position: relative;
  width: 435px;
  height: 350px;
}

.card6 {
  position: relative;
  width: 890px;
  height: 350px;
}









.footer {
  display: flex;
  
  max-width: 1920px;
  width: 100%;
  height: 386px;
  background: #34495e;
  color: #fff;
  margin-top: 114px;
}
.footer__container {
  display: flex;
  width: 100%;
  max-height: 65%;
}

.footer__row li:hover {
 color: rgb(165, 253, 0);

}

.footer__logo {
  display: flex;
  flex-direction: column;
}
.logo2 {
  width: 114px;
  height: 41px;
}

.footer_logo_social {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  justify-content: space-around;
  width: 163px;
height: 24px;
}
.footer_logo_social img {
  height: 18px;
  width: 26px;
  
}

.footer_logo_credit {
  display: flex;
  align-items: center;
  margin-right: 210px;
}
.footer_logo_credit img {
  opacity: 0.6;
  margin-top: 42px;
}
.footer_logo_credit_posta {
  width: 83.72px;
  height: 30px;
  margin-right: 57px;
}
.footer_logo_credit_posta:hover{
  opacity: 1;
}
.credit_card {
  width: 53px;
  height: 31px;
  margin-right: 6px;
}
.credit_card:hover{
  opacity: 1;
}
.credit_card_paypal {
  height: 45px;
}
.credit_card_paypal:hover{
  opacity: 1;
}
.footer__row {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}

.footer__columns {
  width: 90%;
}

.columns__row {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 77px;
}

.column__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 18px;
}
.column__body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 246px;
  height: 197px;
  font-size: 14px;
  line-height: 7px;

  color: #ffffff;

  opacity: 0.5;
}

.column__body li {
  margin-bottom: 12px;
}
.hot_number {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.7;
}
.main_number {
  font-size: 24px;
  line-height: 28px;
}
.footer__up__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 58px;
  align-self: baseline;
  flex-direction: column;
}
.up__btn__text {
  color: #dde8f0;
}
.up__btn {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: #dde8f0 url("../img/UP.svg") 50% no-repeat;
}


.notification_btn {
  width: 147px;
  height: 40px;
  color: #ffffff;
  font-size: 14px;
  background: #74c3b4;
  border: 1px solid #ffbe48;
  box-sizing: border-box;
  border-radius: 20px 0 20px 0;
}
.notification_btn:hover{ 
  border: 1px solid;
  box-shadow: inset 0 0 20px #08adf3, 0 0 20px #08adf3;
color: rgb(65, 52, 52);
  
  }


  /* cookies */
.cookies-wrapper {
    position: fixed;
    display: none;
    align-items: center;
    z-index: 9999;
    /*top: 0;*/
    bottom: 0;
    padding: 5px;
    width: 80%;
    height: 92px;
    background: #74c3b4;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    line-height: 16px;
    justify-content: space-around;

}
.cookies-wrapper.active {
    display: flex;
}

.con-cuc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cookies-description {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #FFFFFF;
}

#menuToggle {
  display: none;
}
