
.swiper {
  width: 1680px;
  height: 575px;
  margin-top: 82px;
 
}
.swiper-slide {
  display: flex;
	flex-direction: column;

}
  .swiper-slide img {
    display: block;
    width: 311px;
    height: 446px;;
    object-fit: cover;
    border-radius: 44px 44px 44px 0px;
  }
  .swiper-slide_circle{
    width: 30px;
height: 30px;
border-radius: 50%;
position: absolute;
bottom: 113px;
z-index: 10;
background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #F5DF4D 180deg, #FF6D43 360deg);
transform: matrix(0, 1, 1, 0, 0, 0);
  }
  .swiper-slide_text{
    position:relative;
    font-weight: bold;
font-size: 24px;
line-height: 40px;
margin-top: 20px;
color: #FFFFFF;
  }
  .swiper-slide_text:hover {
    border-bottom: 2px solid#ffffff7e;
    padding-bottom: 2px;
  
  }
  @media screen and (max-width: 1460px) {
    .swiper {
      width: 1345px;
      height: 450px;
      margin-top: 50px;
     
    }
      .swiper-slide img {
        display: block;
        width: 250px;
        height: 350px;
        object-fit: cover;
        border-radius: 44px 44px 44px 0px;
      }
      .swiper-slide_circle{
        width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 85px;
    z-index: 10;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #F5DF4D 180deg, #FF6D43 360deg);
    transform: matrix(0, 1, 1, 0, 0, 0);
      }
      .swiper-slide_text{
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
      }
      .swiper-slide{
        width: 250px;
        height: 350px;
      }

  }
  @media screen and (max-width: 1260px) {

    .swiper {
      width: 1020px;
      height: 450px;
      margin-top: 10px;
     
    }
      .swiper-slide img {
        display: block;
        width: 250px;
        height: 330px;
        object-fit: cover;
        border-radius: 44px 44px 44px 0px;
      }
      .swiper-slide_circle{
        width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 97px;
    z-index: 10;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #F5DF4D 180deg, #FF6D43 360deg);
    transform: matrix(0, 1, 1, 0, 0, 0);
      }
      .swiper-slide_text{
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
      }
      .swiper-slide{
        width: 250px;
        height: 350px;
      }

  }
  @media screen and (max-width: 1080px) {

    .swiper {
      width: 880px;
      height: 450px;
      margin-top: 10px;
     
    }

    .swiper-slide img {
      display: block;
      width: 230px;
      height: 300px;
    
    }

    .swiper-slide_circle{
      width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 128px;}



  }

  @media screen and (max-width: 780px) {

    .swiper {
      width: 580px;
      height: 450px;
      margin-top: 10px;
     
    }
  }
  